@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
@theme{
  --font-family-karla: 'Karla', sans-serif;
  --font-family-dm: "DM Serif Display", serif";
}

